body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.mechanic-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.mechanic-login-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 40px;
  text-align: center;
}

.mechanic-login-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.mechanic-login-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mechanic-login-input-group label {
  font-size: 18px;
  margin-bottom: 10px;
}

.mechanic-login-input-group input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.mechanic-login-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mechanic-login-button:hover {
  background-color: #3e8e41;
}